extends layout 
 
block content 
  h1= title
   
 
  - let houseid = toShow._id 
  - let house_model = toShow.house_model 
  - let house_age = toShow.house_age
  - let house_height = toShow.house_height
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{houseid} 
  - let actionid = "/resource/house/" + houseid 
  form(id='houseForm', action= actionid, method="PUT") 
    div.form-group 
        label.houseAttr(for='house_model') house_model
        input#house_model(type='text', name='house_model', value= house_model ) 
    div.form-group 
        label.houseAttr(for='house_age') house_age 
        input#house_age(type='number', name='house_age', value= house_age ) 
    div.form-group 
        label.houseAttr(for='house_height') house_height
        input#house_height(type='text', name='house_height', value= house_height ) 
    input(type="submit") 
 
  script. 
    document.forms['houseForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 