body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#houseAttr{
  background-color: rgb(95, 210, 112); 
  width: 250px;
  border: 2px solid red;
  border-radius: 5px 5px 5px;
  margin-top: 2px;
  text-align: center;
}
#houseForm { 
  background-color: rgb(95, 210, 112); 
  width: 250px;
  border: 2px solid red;
  border-radius: 5px 5px 5px;
  margin-top: 2px;
  text-align: center;

  margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
} 

	